# Postgres
POSTGRES_USER=driva
POSTGRES_PASSWORD=driva_pass
POSTGRES_DB=driva_dw

# API
API_KEY=driva_test_key_abc123xyz789

VITE_API_URL=http://localhost:3000
VITE_API_KEY=driva_test_key_abc123xyz789
